@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #000000;
  --foreground: #ededed;
  --accent: #ff3e00;
}

@layer base {
  body {
    @apply bg-black text-[#d4d4d8] selection:bg-[#ff3e00] selection:text-black;
  }
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-b from-white to-neutral-500;
}

.outline-text {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  color: transparent;
}

/* Custom Scrollbar for the CrustNation */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff3e00;
}
