@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #000000;
  --foreground: #ededed;
  --accent: #ff3e00;
}

@layer base {
  body {
    @apply bg-black text-[#d4d4d8] selection:bg-[#ff3e00] selection:text-black;
  }
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-b from-white to-neutral-500;
}

.outline-text {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  color: transparent;
}
